<div class="task clearfix">
    <span>{{currentTask.name}}</span>
    <span>{{currentTask.description}}</span>
    <span>move to:</span>
    <button class="button float-left"
            ng-click="task.moveLeft(currentTask)"
            ng-hide="{{currentTask.stage == 0}}">
        {{todoList.storage.columns[currentTask.stage - 1]}}
    </button>
    <button class="button float-right"
            ng-click="task.moveRight(currentTask)"
            ng-hide="{{currentTask.stage == todoList.columns.length - 1}}">
        {{todoList.storage.columns[currentTask.stage + 1]}}
    </button>
</div>

