.task {
    font-size: 16px;
    width: 100%;
    margin: 5px 0;
    background: #ffffff;
    text-align: center;
}

.task .button {
    width: 50%;
    margin-top: 10px;
    font-weight: bold;
}

.task span {
    display: block;
    color: #000;
}