<div class="task clearfix">
    <button class="button delete-button"
            ng-click="task.remove(currentTask)"><i class="fa fa-times-circle-o" aria-hidden="true"></i>
    </button>
    <span>{{currentTask.name}}</span>
    <span>{{currentTask.description}}</span>
    <span ng-class="task.isExpires(currentTask)">{{currentTask.expiryDate | date}}</span>
    <button class="button float-left"
            ng-click="task.moveLeft(currentTask)"
            ng-hide="{{currentTask.stage == 0}}">
        {{todoList.storage.columns[currentTask.stage - 1]}}
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </button>
    <button class="button float-right"
            ng-click="task.moveRight(currentTask)"
            ng-hide="{{currentTask.stage == task.storage.columns.length - 1}}">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
        {{todoList.storage.columns[currentTask.stage + 1]}}
    </button>
</div>

