<div class="column">
    <h2>{{column}}</h2>
    <ul>
        <li class="drop-area"
            data-drop="true"
            jqyoui-droppable="{onDrop:'currentColumn.onDrop(columnIndex)'}"
            ng-show="currentColumn.isDragging">
        </li>
        <li class="task" ng-show="ToDoListStorage.newTask.stage === columnIndex">
            <span>{{ToDoListStorage.newTask.name}}</span>
            <span>{{ToDoListStorage.newTask.description}}</span>
        </li>
        <li ng-repeat="task in ToDoListStorage.data | filter:{stage: columnIndex}"
            data-drag="true"
            data-jqyoui-options="{revert: 'invalid'}"
            ng-init="task = task"
            jqyoui-draggable="{animate:true, onStart:'currentColumn.onStartDrag(task)', onStop:'currentColumn.onStopDrag(task)'}"
            task>
        </li>
    </ul>
</div>
