<!DOCTYPE html>
<html lang="en" ng-app="ToDoApp">
<head>
    <meta charset="UTF-8">
    <title>angular app</title>
    <link rel="stylesheet" href="style/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="../node_modules/angular-dragdrop/src/angular-dragdrop.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script src="columns/columns_controller.js"></script>
</head>
<body>
<main>
    <!--<form action="" class="new-task-form">-->
        <!--<label for="taskName">Task Name: </label><input id="taskName" type="text" ng-model="task.name">{{}}-->
        <!--<label for="taskDescription">Task Description: </label><input id="taskDescription" type="text" ng-model="task.description">-->
        <!--<button>ADD</button>-->
    <!--</form>-->
    <div ng-controller="columns as col">
        <ul class="columns">
            <li ng-repeat="column in col.columns track by $index"
                ng-init="columnIndex = $index"
                data-drop="true"
                jqyoui-droppable
                ng-model="col.columns">
                    <h2>{{column.name}}</h2>
                    <tasks></tasks>
            </li>
        </ul>
    </div>
</main>
</body>
</html>