* {
    padding: 0;
    margin: 0;
}

html, body {
    box-sizing: border-box;
    font-size: 16px;
    min-height: 100vh;
}

ul {
    list-style: none;
}

h2 {
    font-size: 24px;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}
