<div>
    <button ng-click="todoList.getData()">get data</button>
    <form class="new-task-form" ng-submit="todoList.addNewTask()">
        <label for="taskName">Task Name: </label>
        <input id="taskName"
               type="text"
               class="new-task-input"
               ng-model="todoList.storage.newTask.name">

        <label for="taskDescription">Task Description: </label>
        <input id="taskDescription"
               type="text"
               class="new-task-input"
               ng-model="todoList.storage.newTask.description">
        <button class="button">ADD</button>
    </form>
    <ul class="columns">
        <li ng-repeat="column in todoList.storage.columns track by $index"
            ng-init="columnIndex = $index"
            column>
        </li>
    </ul>
</div>
