<div class="todo-list">

    <div class="todo-list-heading clearfix">
        <button class="button new-task-button float-left" ng-click="showNewTaskForm = !showNewTaskForm">
            <i class="fa fa-plus-square-o" aria-hidden="true" ng-hide="showNewTaskForm"></i>
            <i class="fa fa-minus-square-o" aria-hidden="true" ng-show="showNewTaskForm"></i> NEW TASK
        </button>
        <div class="login-block float-right">
            <a href="#!/login" class="button" ng-hide="todoList.toDoListService.isLogged">LOGIN / REGISTER</a>
            <span class="login-name" ng-show="todoList.toDoListService.isLogged">Logged as {{todoList.toDoListService.user.name}}</span>
            <a href="#!/login"
               class="button logout-button float-right"
               ng-show="todoList.toDoListService.isLogged"
               ng-click="todoList.logOut()">LOG OUT</a>
        </div>
    </div>
    <form class="new-task-form" ng-submit="todoList.addNewTask()" ng-show="showNewTaskForm">
        <label for="taskName">Task Name: </label>
        <input id="taskName"
               type="text"
               class="new-task-input"
               ng-model="todoList.toDoListService.newTask.name">

        <label for="taskDescription">Task Description: </label>
        <input id="taskDescription"
               type="text"
               class="new-task-input"
               ng-model="todoList.toDoListService.newTask.description">
        <label for="taskExpiry">Task Deadline: </label>
        <input id="taskExpiry"
               type="date"
               class="new-task-input"
               ng-model="todoList.toDoListService.newTask.expiryDate">
        <button class="button">ADD</button>
    </form>

    <button ng-click="todoList.getData()" class="button load-button">LOAD</button>
    <button ng-click="todoList.setData()" class="button save-button">SAVE</button>

    <ul class="columns">
        <li ng-repeat="column in todoList.columns track by $index"
            ng-init="columnIndex = $index"
            column>
        </li>
    </ul>
    <div ng-init="todoList.initLoad()"></div>
</div>
