<div class="todo-list">
    <a href="#!/login" ng-hide="todoList.isLogged">go to login</a>
    <span ng-show="todoList.isLogged" >Logged as {{todoList.user.Login}} <a href="#!/login">log out</a></span>

    <br><button ng-click="showNewTaskForm = !showNewTaskForm">add task</button><br>
    <form class="new-task-form" ng-submit="todoList.addNewTask()" ng-show="showNewTaskForm">
        <label for="taskName">Task Name: </label>
        <input id="taskName"
               type="text"
               class="new-task-input"
               ng-model="todoList.storage.newTask.name">

        <label for="taskDescription">Task Description: </label>
        <input id="taskDescription"
               type="text"
               class="new-task-input"
               ng-model="todoList.storage.newTask.description">
        <button class="button">ADD</button>
    </form>
    <button ng-click="todoList.getData()">get data</button>

    <ul class="columns" ng-show="todoList.storage.data.length > 0">
        <li ng-repeat="column in todoList.storage.columns track by $index"
            ng-init="columnIndex = $index"
            column>
        </li>
    </ul>
    <span ng-show="todoList.storage.data.length === 0">no data to display</span>
</div>
