<div ng-controller="columns">
    <ul class="columns">
        <li ng-repeat="column in columns track by $index">
            <h2>{{column}}</h2>
            <div ng-controller="tasks">
                <div ng-repeat="task in data track by $index" class="task">
                    <span>{{task.name}}</span>
                    <span>{{task.description}}</span>
                    <span>{{task.stage}}</span>
                    <button ng-click="moveLeft(task)">left</button>
                    <button ng-click="moveRight(task)">right</button>
                </div>
            </div>
        </li>
    </ul>
</div>