<!-- columnIndex comes from above -->
<ul>
    <!--ng-repeat="task in col.columns[columnIndex].items"-->
    <li class="task"
        ng-repeat="task in col.data | filter:{stage: columnIndex}"
        data-drag="true"
        data-jqyoui-options="{revert: 'invalid'}"
        ng-init="task = task"
        jqyoui-draggable="{animate:true, onStart:'col.onStartDrag(task)'}">
            <span>{{task.name}}</span>
            <span>{{task.description}}</span>
            <!--<span>stage: {{task.stage}}</span>-->
            <!--<span>index: {{$index}}, CI:{{columnIndex}}</span>-->
            <button ng-click="col.moveLeft(task)">left</button>
            <button ng-click="col.moveRight(task)">right</button>
    </li>
</ul>
