<!-- columnIndex comes from above -->
<ul>
    <li class="task"
        jqyoui-draggable
        ng-repeat="task in col.columns[columnIndex].items"
        data-drag="true"
        data-jqyoui-options="{revert: 'invalid'}"
        jqyoui-draggable="{animate:true}">
            <span>{{task.name}}</span>
            <span>{{task.description}}</span>
            <!--<span>stage: {{task.stage}}</span>-->
            <!--<span>index: {{$index}}, CI:{{columnIndex}}</span>-->
            <button ng-click="col.moveLeft(task)">left</button>
            <button ng-click="col.moveRight(task)">right</button>
    </li>
</ul>
